In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('FashionDataset.csv')

In [3]:
df.head()

,Sr.no,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30758 entries, 0 to 30757
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sr.no      30758 non-null  int64
 1   BrandName  30758 non-null  object
 2   Deatils    30758 non-null  object
 3   Sizes      30758 non-null  object
 4   MRP        30758 non-null  object
 5   SellPrice  30758 non-null  object
 6   Discount   30758 non-null  object
 7   Category   30758 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.9+ MB

In [5]:
df.describe()

              Sr.no
count  30758.000000
mean      12.500000
std        7.500122
min        0.000000
25%        6.000000
50%       12.500000
75%       19.000000
max       25.000000

In [6]:
df.describe(include = 'all')

,Sr.no,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
count,30758.000000,30758,30758,30758,30758,30758,30758,30758
unique,NaN,275,23877,1172,1097,2046,66,7
top,NaN,vastranand,Nan,Nan,Nan,Nan,Nan,Westernwear-Women
freq,NaN,1543,1183,7501,8208,1183,8208,10374
mean,12.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.500122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.isnull().sum()

Sr.no        0
BrandName    0
Deatils      0
Sizes        0
MRP          0
SellPrice    0
Discount     0
Category     0
dtype: int64

In [9]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)

In [2]:
pip install my sql

Requirement already satisfied: my in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (1.3.0)
Requirement already satisfied: sql in c:\users\dell\appdata\local\programs\python\python314\lib\site-packages (2022.4.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
df = pd.read_csv('FashionDataset.csv')

In [9]:

from sqlalchemy import  create_engine

# my sql connection

username = "root"
password = "surendra%40123"
host = "localhost"
port = "3306"
database = "fashion"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}/{database}")

#write Dataframe to mysql



table_name = "brand"
df.to_sql(table_name, engine, if_exists="replace", index=False)

#read back sample

pd.read_sql("SELECT * FROM  BRAND LIMIT 5;", engine)

,Sr.no,BrandName,Deatils,Sizes,MRP,SellPrice,Discount,Category
0,0,life,solid cotton blend collar neck womens a-line d...,"Size:Large,Medium,Small,X-Large,X-Small",Rs\n1699,849,50% off,Westernwear-Women
1,1,only,polyester peter pan collar womens blouson dres...,"Size:34,36,38,40",Rs\n3499,2449,30% off,Westernwear-Women
2,2,fratini,solid polyester blend wide neck womens regular...,"Size:Large,X-Large,XX-Large",Rs\n1199,599,50% off,Westernwear-Women
3,3,zink london,stripes polyester sweetheart neck womens dress...,"Size:Large,Medium,Small,X-Large",Rs\n2299,1379,40% off,Westernwear-Women
4,4,life,regular fit regular length denim womens jeans ...,"Size:26,28,30,32,34,36",Rs\n1699,849,50% off,Westernwear-Women